.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.weather-temperature strong {
  position: relative;
  top: +15px;
  font-size: 60px;
  font-weight: 450;

  line-height: 1;
}
.weather-description {
  position: relative;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -15px;
}
.celsius {
  text-decoration: none;
}
.fahrenheit {
  text-decoration: none;
}
.humidity-wind {
  position: relative;
  top: +20px;
}
.weather-forecast {
  text-align: center;
}
.forecast {
  font-size: 15px;
  margin-top: 20px;
}
