.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.weather-temperature strong {
  position: relative;
  top: +5px;
  font-size: 80px;
  font-weight: 450;

  line-height: 1;
}
.weather-description {
  position: relative;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: 15px;
  text-decoration: none;
}
